/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@mixin class-thumbnail($url) {
  background-image: url($url);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 50px;
  height: 45px;
  margin: 2.5px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  transition: all .2s ease-in-out;
  &:hover {
    border: 1px solid rgba(255,225,78,0.50);
  }
  &:active {
    border: 1px solid rgba(255,225,78,0.80);
  }
}

a.cu-character-creation__class-select__FIREMAGE{
    @include class-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_black-knight.png');
}

a.cu-character-creation__class-select__FIGHTER{
    @include class-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_blackguard.png');
}

a.cu-character-creation__class-select__HEALER{
    @include class-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_blackguard.png');
}

a.cu-character-creation__class-select__MELEECOMBATTEST{
    @include class-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_blackguard.png');
}

a.cu-character-creation__class-select__ARCHERTEST{
    @include class-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_blackguard.png');
}