/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.cu-character-creation__faction-select {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.cu-character-creation__faction-select__TDD {
  background-image: url('../images/tdd-bg.png');
  background-size: cover;
  overflow: hidden;
  transition: flex-grow .8s ease-in-out, padding .5s ease-in-out;
  flex-grow: 1;
  display: inline;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  .cu-character-creation__faction-select__TDD__shield {
    background-image: url('../images/tdd-shield.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 200px;
    margin: auto;
    cursor: pointer !important;
  }
  .cu-character-creation__faction-select__TDD__description {
    opacity: 0;
    transition: all .8s ease-in-out;
    margin: auto;
    width: 0px;
    color: #e2e2e2;
    -webkit-user-select: none;
    cursor: pointer !important;
    box-shadow: 0px 0px 50px 40px rgba(0,0,0,0.43);
    background: rgba(0,0,0,0.43);
  }
  &:hover {
    flex-grow: 3;
    padding-top: 5%;
    .cu-character-creation__faction-select__TDD__description {
      opacity: 1;
      width: 400px;
      margin: auto;
    }
  }
}

.cu-character-creation__faction-select__Arthurian {
  background-image: url('../images/arthurian-bg.png');
  background-size: cover;
  overflow: hidden;
  transition: flex-grow .8s ease-in-out, padding .5s ease-in-out;
  flex-grow: 1;
  display: inline;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  .cu-character-creation__faction-select__Arthurian__shield {
    background-image: url('../images/arthurian-shield.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 200px;
    margin: auto;
    cursor: pointer !important;
  }
  .cu-character-creation__faction-select__Arthurian__description {
    opacity: 0;
    transition: all .8s ease-in-out;
    margin: auto;
    width: 0px;
    color: #e2e2e2;
    -webkit-user-select: none;
    cursor: pointer !important;
    box-shadow: 0px 0px 50px 40px rgba(0,0,0,0.43);
    background: rgba(0,0,0,0.43);
  }
  &:hover {
    flex-grow: 3;
    padding-top: 5%;
    .cu-character-creation__faction-select__Arthurian__description {
      opacity: 1;
      width: 400px;
      margin: auto;
    }
  }
}

.cu-character-creation__faction-select__Viking {
  background-image: url('../images/viking-bg.png');
  background-size: cover;
  overflow: hidden;
  transition: flex-grow .8s ease-in-out, padding .5s ease-in-out;
  flex-grow: 1;
  display: inline;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  .cu-character-creation__faction-select__Viking__shield {
    background-image: url('../images/viking-shield.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 200px;
    margin: auto;
    cursor: pointer !important;
  } 
  .cu-character-creation__faction-select__Viking__description {
    opacity: 0;
    transition: all .8s ease-in-out;
    margin: auto;
    width: 0px;
    color: #e2e2e2;
    -webkit-user-select: none;
    cursor: pointer !important;
    box-shadow: 0px 0px 50px 40px rgba(0,0,0,0.43);
    background: rgba(0,0,0,0.43);
  }
  &:hover {
    flex-grow: 3;
    padding-top: 5%;
    .cu-character-creation__faction-select__Viking__description {
      opacity: 1;
      width: 400px;
      margin: auto;
    }
  }
}
