/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@mixin class-thumbnail($url) {
  background-image: url($url);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 50px;
  height: 45px;
  margin: 2.5px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  transition: all .2s ease-in-out;
  &:hover {
    border: 1px solid rgba(255,225,78,0.50);
  }
  &:active {
    border: 1px solid rgba(255,225,78,0.80);
  }
}


.cu-character-creation__class-select__BLACKKNIGHT{
    @include class-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_black-knight.png');
}

.cu-character-creation__class-select__FIANNA{
    @include class-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_fianna.png');
}

.cu-character-creation__class-select__MJOLNIR{
    @include class-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_mjolnir.png');
}

.cu-character-creation__class-select__PHYSICIAN{
    @include class-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_physician.png');
}

.cu-character-creation__class-select__EMPATH{
    @include class-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_empath.png');
}

.cu-character-creation__class-select__STONEHEALER{
    @include class-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_stonehealer.png');
}

.cu-character-creation__class-select__BLACKGUARD{
    @include class-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_blackguard.png');
}

.cu-character-creation__class-select__FORESTSTALKER{
    @include class-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_forest-stalker.png');
}

.cu-character-creation__class-select__WINTERSSHADOW{
    @include class-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_winter-shadow.png');
}

.cu-character-creation__race-select__view-area__EMPATH{
    @include race-standing('https://s3.amazonaws.com/camelot-unchained/character-creation/character/empath.png');
}

.cu-character-creation__race-select__view-area__BLACKKNIGHT{
    @include race-standing('https://s3.amazonaws.com/camelot-unchained/character-creation/character/black-knight.png');
}

.cu-character-creation__race-select__view-area__FIANNA{
    @include race-standing('https://s3.amazonaws.com/camelot-unchained/character-creation/character/fianna.png');
}

.cu-character-creation__race-select__view-area__MJOLNIR{
    @include race-standing('https://s3.amazonaws.com/camelot-unchained/character-creation/character/mjolnir.png');
}

.cu-character-creation__race-select__view-area__PHYSICIAN{
    @include race-standing('https://s3.amazonaws.com/camelot-unchained/character-creation/character/physician.png');
}

.cu-character-creation__race-select__view-area__STONEHEALER{
    @include race-standing('https://s3.amazonaws.com/camelot-unchained/character-creation/character/stonehealer.png');
}

.cu-character-creation__race-select__view-area__BLACKGUARD{
    @include race-standing('https://s3.amazonaws.com/camelot-unchained/character-creation/character/blackguard.png');
}

.cu-character-creation__race-select__view-area__FORESTSTALKER{
    @include race-standing('https://s3.amazonaws.com/camelot-unchained/character-creation/character/forest-stalker.png');
}

.cu-character-creation__race-select__view-area__WINTERSSHADOW{
    @include race-standing('https://s3.amazonaws.com/camelot-unchained/character-creation/character/winters-shadow.png');
}

.cu-character-creation__class-select_name {
  position: absolute;
  left: 350px;
  z-index: 1;
}